# Ignore build and distribution directories
build_dist/
build/
dist/
*.spec

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Ignore virtual environments
venv/
env/
.env/

# Ignore compiled binaries and large files
*.dll
*.exe
*.so
*.dylib
*.pak
*.bin

# Ignore log files
*.log

# Ignore IDE config files
.vscode/
.idea/
scratch/
